@import url(reset.css);

html,body {
	background:rgb(250,250,250) url(../../!img/tile.gif) repeat;
	background:rgba(0,0,0,1) url(../../!img/tile.gif) repeat;
	
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	line-height:18px;
	color:rgb(50,50,50);
	color:rgba(250,250,250,1);
	text-shadow:-1px 1px 1px rgb(0,0,0);
	text-shadow:-1px 1px 1px rgba(0,0,0,.5);

	width:100%;
	height:100%;
}

h1, h2, h3, .h1, .h2, .h3,
.header {
	margin:0 0 10px;
	font-weight:bold;
	text-shadow:-1px 1px 1px rgb(0,0,0);
	text-shadow:-1px 1px 1px rgba(0,0,0,.5);
	text-decoration:none;
	-webkit-text-stroke:1px rgba(0,0,0,.25);
}
h1, .h1 {font-size:30px;line-height:30px;}
h2, .h2 {font-size:25px;line-height:25px;}
h3, .h3 {font-size:20px;line-height:20px;}

.header.title {
	padding-left:25px;
	font-size:144px;
	line-height:120px;
}

#content .announcement {
	display:none; /* this hides the announcement */
	height:100px;
	overflow:hidden;
}
	#content .announcement .news {
		float:left;
		font-size:36px;
		font-weight:bold;
		line-height:36px;
		margin:0 10px 0 0;
		text-align:center;
	}
	#content .announcement hr {
		margin-top:40px;
	}

p {
	margin:0 0 10px;
}
.red, .green {font-size:14px;font-weight:bold;display:block;}
.red {color:rgb(250,200,200);color:rgba(255,0,0,1);}
.green {color:rgb(0,255,0);color:rgba(0,255,0,.75);}

a {
	font-family:arial,helvetica,sans-serif;
	font-size:14px;
	line-height:18px;
	color:rgb(0,0,0) !important;
	color:rgba(250,250,250,1) !important;
	text-shadow:-1px 1px 1px rgb(0,0,0);
	text-shadow:-1px 1px 1px rgba(0,0,0,.5);
}
a:hover {
	color:rgb(50,50,50) !important;
	color:rgba(250,250,250,.75) !important;
}

hr {
	border:none;
	height:2px;
	background:rgb(0,0,0);
	background:rgba(0,0,0,.25);
}

#wrapper {
	width:1200px;
	height:auto;
	padding:20px 0;
	margin-left:50px;
}

#content, #leftbar {
	-webkit-box-shadow:0 0 30px rgba(0,0,0,.75);
}

#content {
	width:600px;
	min-height:100px;
	margin-left:30px;
	background:rgb(180,180,180);
	background:rgba(250,250,250,.35);
	float:left;
	-webkit-border-radius:10px;
	padding:10px;
}
	#content .post {
		margin:0 0 20px;
		border-bottom:2px solid rgb(0,0,0);
		border-bottom:2px solid rgba(0,0,0,.25);
	}
		#content .post img {
			width:500px !important;
			height:auto;
			background:#CCC;
			border:1px solid #000;
			padding:10px;
			margin-left:40px;
		}
		#content .post small {
			font-size:12px !important;
			display:block;
			margin:0 0 10px;
			color:rgb(250,250,250);
			color:rgba(250,250,250,.75);
		}
			#content .post small a {font-size:12px !important;}
			#content .post small.user {
				padding-top:10px;
				border-top:2px dashed rgb(250,250,250);
				border-top:2px dashed rgba(250,250,250,.25);
			}
			#content .post small.tags {
				padding-bottom:10px;
			}
			#content div.post small {
				margin:0;
				padding:0;
			}
			#content div.post small.tags a {
				font-size:11px !important;
				padding:3px 9px;
				margin:0 5px 0 0;
				background:rgb(200,200,200);
				background:rgba(200,200,200,.75);
				color:rgb(0,0,0) !important;
				color:rgba(0,0,0,1) !important;
				text-shadow:none;
				text-decoration:none;
				-webkit-border-radius:6px;
				-webkit-box-shadow:0 0 5px rgba(0,0,0,.75);
				border:1px solid rgb(250,250,250);
				opacity:.75;
			}
			#content .post small.tags a:hover {
				background:rgb(225,225,225);
				background:rgba(200,200,200,1);
			}
			
	#content .single .ad, #content .ad {
		margin:10px 0 10px 65px;
		width:468px;
		height:60px;
	}
		#content .post a.comments {
			width:48px;
			margin:5px 0;
			display:block;
			font-size:11px;
		}
		iFrame.FB_SERVER_IFRAME {
			padding:10px;
			margin:0 0 4px 12px;
			background:rgb(250,250,250);
			-webkit-border-radius:6px;
		}
		
	#content .pagenav a {
		height:30px;
		margin:0 100px 0;
		font-size:18px;
		font-weight:bold;
		text-decoration:none;
	}
		#content .pagenav a.older {float:left;}
			#content .pagenav a.older:hover {color:rgb(200,200,200) !important;color:rgba(250,250,250,.75) !important;}
		#content .pagenav a.newer {float:right;}
			#content .pagenav a.newer:hover {color:rgb(200,200,200) !important;color:rgba(250,250,250,.75) !important;}

#leftbar, #rightbar {
	width:230px;
	min-height:100px;
	background:rgb(180,180,180);
	background:rgba(250,250,250,.25);
	float:left;
	-webkit-border-radius:10px;
	padding:10px;
}
	#leftbar input.submit, #rightbar input.submit {
		cursor:pointer;
		background:rgb(200,200,200);
		background:rgba(200,200,200,.75);
		border:1px solid rgb(250,250,250);
	}
		#leftbar input.submit:hover, #rightbar input.submit:hover {
		background:rgb(225,225,225);
		background:rgba(200,200,200,1);
		}
	#leftbar p.ad {
		padding:10px 0 10px 35px;
	}
	#leftbar form, #rightbar form {
		font-size:12px;
	}
		#leftbar form input, #leftbar form textarea, #rightbar form input, #rightbar form textarea {
			padding:4px;
			margin:0;
			border:none;
			color:rgb(0,0,0);
			color:rgba(0,0,0,.6);
			-webkit-border-radius:6px;
			width:220px;
		}
		#leftbar form textarea, #rightbar form textarea {height:50px;}
		#leftbar form input.file, #rightbar form input.file {color:rgb(250,250,250);color:rgba(250,250,250,.75);}
		#leftbar form .required, #rightbar form .required {font-size:11px;line-height:14px;}
		#leftbar form .required .red, #leftbar form .asterix.red, #rightbar form .required .red, #rightbar form .asterix.red {display:inline;background:none;}
	#leftbar div ul li small {
		font-size:11px;
		font-weight:bold;
		color:rgba(250,250,250,.75);
	}
#rightbar {
	margin-left:30px;
}
	#rightbar p.ad {
		padding:10px 0 10px 15px;
	}