html,
body {
  background-image: none;
  background-color: #333;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FAFAFA;
  text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
}
body div {
  box-sizing: border-box;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* close commented backslash hack */
a {
  color: inherit;
  text-decoration: inherit;
}
.wrapper {
  width: 60%;
  max-width: 800px;
  min-width: 350px;
  padding: 20px 0 0;
}
/* SIDEBAR */
.module {
  width: 100%;
  padding: 0 15px;
}
.module:first-child {
  margin-top: 160px;
}
.module p {
  padding: 0 0 20px;
  color: #CCC;
}
.module .rvid {
  display: none;
}
.module label {
  font-size: .85em;
  color: #CCC;
}
.module input[type="text"] {
  display: block;
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 3px;
  background-color: #666;
  color: #FFF;
}
.module input[type="text"]:focus {
  background-color: #555;
}
.module .btn {
  border: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 3px;
  background-color: #666;
  color: #FFF;
  margin: 10px 0 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.module .primary-action {
  background-color: orange;
}
.module .btn:hover {
  background-color: #555;
}
.module .btn:active {
  background-color: #444;
  top: 1px;
}
.module .req {
  color: #F00;
}
.module #fileupload {
  display: none;
}
.module .upload {
  margin: 10px 0;
  cursor: pointer;
}
.module .upload .btn {
  margin-top: 0;
}
.module .upload .files {
  position: relative;
  font-size: .75em;
  display: inline-block;
}
.module .upload p {
  padding: 0;
}
/* MAIN SECTION */
.heading {
  position: relative;
  margin: 0 0 10px;
  line-height: 1em;
  min-width: 670px;
}
.heading h1 {
  line-height: 1em;
  font-size: 10em;
  text-align: left;
}
.heading h1 a:hover {
  text-decoration: none;
}
.heading .nav {
  text-align: center;
  padding: 10px 0;
  position: absolute;
  bottom: 10px;
  right: 0px;
  font-size: 16px;
  font-weight: normal;
  display: inline-block;
  line-height: 30px;
  margin: 0;
  padding: 0;
}
.heading .nav .nav-link {
  display: inline-block;
  background: none;
  color: #FFF;
}
.heading .nav .nav-link:first-child {
  border-right: 3px solid #222;
}
.heading .nav .nav-link:last-child {
  border-left: 3px solid #222;
}
.heading .nav .nav-link.pg-num {
  cursor: default;
}
.heading .nav .nav-link:hover {
  cursor: pointer;
  /*background-color: rgba(255,255,255,.3);*/

}
.heading .nav .nav-link[disabled="disabled"] {
  color: #999;
  cursor: default;
}
.heading .nav .nav-link.pg-num {
  cursor: default;
  padding: 0 5px;
}
/* RV POSTS */
.rv {
  margin-top: 50px;
  padding-top: 50px;
  list-style-type: none;
  padding-left: 0;
  border-top: 5px solid #222;
}
.rv li {
  margin-bottom: 10px;
}
.rv:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}
.rv img {
  box-sizing: border-box;
  width: 100%;
  border: 5px solid #FFF;
}
h1 + .rv {
  margin-top: 15px;
  padding-top: 15px;
}
.heading + .rv {
  margin-top: 0;
}
